<div class="container">
  <h2>ユーザー一覧</h2>
  <% @users.each do |user| %>
      <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
        <%= link_to profile_img(user), users_path(user) %>
         <%= user.name %>
         <%= user.email %>
         <% if user.id != current_user.id %>
           <li>
             <%= render partial: 'follow_form', locals: { user: user } if signed_in? %>
           </li>
        <% end %>
      </div>
  <% end %>
</div>
