// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
    text-decoration:underline;
    text-decoration-color:#FDC806;
    list-style: none;
}

.detail{
    list-style: none;
}

.read{
    background-color: #FDC806;
    padding: 3px;
    color: white;
    font-weight:bold;
}